<% content_for :title do %>- Documents
<% end %>
<% content_for :current_header do %>Documents
<% end %>

<% content_for :content do %>

<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>


<h1>Documents</h1>


<%= form_for @document, html: { multipart: true } do |form| %>
      <%= form.label "Upload File" %>
      <%= form.file_field :attachment %>
      <%= form.submit "Save", class: "btn btn-primary" %>
<% end %>


<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @documents.each do |document| %>
         
         <tr>
            <td><%= document.name %></td>
            <td><%= link_to "Download Resume", document.attachment_url %></td>
            <td><%= button_to "Delete",  document, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{document.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>

<% end %>
