<section class="find-job section">
  <div class="container">

    <%= form_for @job, method: :get ,  html: { multipart: true } do |form| %>

      <%= form.text_field :title, placeholder: "Search" %>

      <%= form.select(:job_type) do %>
        <option disabled selected>Job Type</option>
        <% [['All Types', ''], ['Part Time', 'PT'],['Full Time', 'FT']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>


      <%= form.select(:salary) do %>
        <option disabled selected>Salary</option>
        <% [['>20000', "20000"], ['>30000', "30000"]].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>


      <%= button_tag( :class => "btn btn-primary") do %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
    <% end %>


    <br/>
    <div class="row">
      <h2 class="section-title">Jobs</h2>
      <% if @jobs.any? %>
        <% @jobs.each do |job| %>
          <div class="job-list col-md-12">
            <div class="thumb">
              <a href="<%= job_path(job) %>"><img width="100"
                                                  src="<%= job.hr.user.profile.picture %>" alt=""></a>
            </div>
            <div class="job-list-content">
              <h4><a style="font-size:20px;" href="<%= job_path(job) %>"><%= job.title %></a></h4>
              <p>
                <% if job.job_type == 'FT' %>
                  <span class="full-time">Full-Time</span>
                <% elsif job.job_type == 'PT' %>
                  <span class="part-time">Part-Time</span>
                <% end %>
              </p>
              <p>Posted by<span style="font-weight:bold;color:#FC4A1A;" class="text-primary">&nbsp<%= job.hr.user.name %></span></p>
              <!--
              Posted by <span style="font-weight:bold;color:#FC4A1A"
                              class="text-primary">{{$job->hr->user->name}}</span>
                              -->
              <p><%= job.desc %></p>
              <div class="job-tag">
                <div class="pull-left col-md-9">
                  <div class="meta-tag" style="word-wrap:break-word;">
                    <!--
                  <span><i class="ti-location-pin"></i>{{$job->hr->user->profile->street_address}}
                                                          , {{$job->hr->user->profile->city}}</span>
                                                          -->
                    <span>
                                        <i class="ti-location-pin"></i><%= job.hr.user.profile.street_address %>
                      , <%= job.hr.user.profile.city %>
                                      </span>
                    <br/>
                  </div>
                </div>
                <div class="col-md-3">

                  <a href="<%= job_path(job) %>" class="btn btn-common btn-rm">More Details</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3>No Jobs Found.</h3>
      <% end %>
    </div>
  </div>
  <div class="center">
  <%= will_paginate @jobs %>
  </div>
</section>