<!DOCTYPE html>
<html>
  <head>
    <title>Instruu <%= yield :title %></title>
    <%= csrf_meta_tags %>
    <link type="image/x-icon" href="/public/favicon.ico" rel="icon" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div class="header">
    <%= render 'inc/navbar' %>
    <section id="intro-bg">
      <%= yield :tagline %>
    </section>
  </div>

    <%= yield :content %>

  <a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
  </a>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
